node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
chrome/

# formatting
.prettierrc

# tests
coverage/

# macOS
.DS_Store

# custom liqd
.vscode/
package-lock.json
yarn.lock
